name: Generate Feed

on:
  # Midnight on Monday and Thursday
  schedule:
    - cron: '0 0 * * 1,4'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Check out Repository
        uses: actions/checkout@v4

      - name: Set up Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm ci

      - name: Generate Feed
        env:
          DSE_DISCORD_GUILD_ID: ${{ secrets.DSE_DISCORD_GUILD_ID }}
          DSE_DISCORD_APPLICATION_ID: ${{ secrets.DSE_DISCORD_APPLICATION_ID }}
          DSE_DISCORD_BOT_TOKEN: ${{ secrets.DSE_DISCORD_BOT_TOKEN }}
          DSE_DISCORD_CALENDAR_HEX_COLOR: ${{ secrets.DSE_DISCORD_CALENDAR_HEX_COLOR }}
        run: npm run generate:feed

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  deploy:
    name: "Deploy"
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
